<%- include('../layouts/header.ejs') %>
<div class="container">
  <div class="row">

    <div class="col-md-10">
      <br><br><br>
      <h1>Create new article</h1>
      <% if(locals.errors != null) {%>
        <% errors.forEach(error =>{ %>
            <li class="alert alert-danger"><%= error.msg %></li>
       <% }) %> 
    <% } %> 
    <form action="/admin/articles/edit/<%= article.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <%- include('../partials/_product') %> 
      <div class="my-3">
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="/articles" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
    </div>
  </div>
</div>
<%- include('../layouts/footer.ejs') %>
