<%- include('./header') %>
<div class="container-fluid">
  <div class="row">
    <%- include('./sidebar') %> 
    <div class="col-md-10">
      <br><br><br>
      <h1>product on vue</h1>
      <img src="/<%= article.image %>" width="500px" height="300px"/>
        <div><%= article.title %></div>
        <div><%= article.description %></div>
        <div><%= article.markdown %></div>
        <div><%= article.createdAt %></div>
        <span>
            <form method="POST" action="/admin/products/<%= article.id %>?_method=DELETE" enctype="multipart/form-data">
                <div class="my-3">
                  <button type="submit" class="btn btn-danger mt-5 mb-3">Delete</button>
                </div>
              </form>
        </span>
        <span>
            <a class="btn btn-warning" href="/admin/products/<%= article.id %>/edit">Update</a>
        </span>
    </div>
  </div>
</div>