<%- include('../layout/header.ejs') %>
<br><br><br><br>
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="/<%= video.path %>" class="square-img" alt="">
            <div><%= video.description %></div>
            <div>published at: <%= video.publishDate.getDate() %>/<%= video.publishDate.getMonth() + 1 %>/<%= video.publishDate.getFullYear() %></div>
            <br/>
            <% if(userAuth) { %>
              <%- include('../partials/_comments.ejs') %> 
            <% } %> 
        </div>
    </div>
    <a href="/">All videos</a>
  </div>
<%- include('../layout/footer.ejs') %> 