<%- include('../layout/header.ejs') %> 
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <form action="/users" method="GET">
                <label>Search by name: </label>
                <input type="text" name="search" style="width: 70%;" value="<%= searchOptions.search %>">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            
                <% users.forEach(user => { %>
                    <div class="users">
                        <div class="row">
                            <div class="col-6 mt-4 text-center"><%= user.name %></div>
                            <div class="col-6 mt-4"><a href="/users/<%= user.id %>" class="btn btn-info btn-sm">view profile</a></div>        
                        </div>
                    </div>
                <% }) %> 
            
        </div>
    </div>
</div>
<%- include('../layout/footer.ejs') %>