<%- include('../layout/header.ejs') %> 
<br><br><br><br>
<h1 class="ml-2"><%= user.name %></h1>
<div class="ml-2"><%= user.email %></div>
<div class="ml-2">Member since: <%= user.date.getDate() %>/<%= user.date.getMonth() + 1 %>/<%= user.date.getFullYear() %></div>
<div id="portfolio-wrapper">
    <div class="container">
        <div class="row">
            <% videos.forEach(video => { %>
                 <% if(video.author == user.id) { %>
                    <div class="col-md-3 col-4 col-sm-4 text-center my-1">
                        <a href="/<%= video.path %>" class="pop-img">
                            <img src="/<%= video.path %>" class="square-img" alt="">
                        </a>
                        <a href="/individual/<%= video.id %>" class="btn btn-info btn-sm ml-3" style="color: #fff;">View</a>
                    </div>
                    
                 <% } %>
            <% }) %> 
        </div>
    </div>
</div>

<%- include('../layout/footer.ejs') %>