<%- include('../layout/header') %>

<% products.forEach(product => { %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <a href="/<%= product.path %>" class="pop-img" title="Add Description">
        <img class="card-img-top home-img" width="300px" src="/<%= product.image %>" alt="product image" />
        <div class="card-body">
          <h4 class="card-title text-black" style="text-decoration: none;"><%= product.name %></h4>
          <p class="card-text">published: <%= new Date(Number(product.createdAt)).getDate() %>/<%= new Date(Number(product.createdAt)).getDay() %>/<%= new Date(Number(product.createdAt)).getFullYear() %></p>
        </div>
        </a>
        <div class="card-footer">
          <a href="/products/<%=product.id %>" class="btn btn-info" style="color: #fff;">View</a>  
          <a href="#" class="btn btn-warning" style="color: #fff;">add to cart</a>  
        </div>
      </div>
    </div>
  <% }) %> 